* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* INIZIO HEADER */
header {
    margin: 0 auto;
    height: 100px;
    width: 1135px;
    padding: 35px 20px;
    line-height: 50px;
}
/* Logo + navbar */
#logo {
    float: left;
}

#navbar {
    line-height: 30px;
    float: right;
}

#navbar li {
    float: left;
    list-style: none;
    margin-right: 40px;
    font-size: 18px;
}

#navbar ul li a {
    text-decoration: none;
    color: #33475b;
}

/* fine logo */
.banner {
    width: 1135px;
    height: 100px;
    background-color: #425b76;
    text-align: left;
}

#mhe {
    width: 900px;
    height: 100px;
    background-color: #425b76;
    float: left;
    padding-left: 50px;
    padding-top: 32px;
}

.bottone {
    height: 100px;
    width: 200px;
    float: right;
    position: relative;
}

.banner p {
    color: white;
    font-size: 17px;
}

.banner button {
    float: right;
}

button {
    cursor: pointer;
}

#learn-more {
    background-color: white;
    color: #33476a;
    border-radius: 2px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 16px;
}
/* FINE HEADER */



/* INIZIO BLOCCO 1 */
.container-uno {
    width: 1135px;
    height: 500px;
    padding-left: 20px;
    border-bottom: 5px solid #33475b;
}

.jumbotron {
    padding-top: 60px;
    height: 500px;
    width:  400px;
    color: #33475b;
    border-bottom: 5px solid #33475b;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 17px;
    text-align: left;
}

#download {
    padding: 26px 48px;
    background-color: #ff7a59;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin: 20px 0;
}

#micro {
    font-size: 15px;
}
/* FINE BLOCCO 1 */
/* INIZIO BLOCCO 2 */

.container-due {
    width: 1135px;
    height: 1300px;
    position: relative;
}
/* Inizio wrap logo */
.logo-wrap {
    height: 350px;
    padding: 75px 32px;
    background-color: #f5f8fa;
    text-align: center;
    color: #33475b;
}

h2 {
    margin: 20px;
    font-size: 36px;
}

.logo-wrap img {
    height: 150px;
    width: 200px;
}

.logo-wrap p {
    font-size: 17px;
}
/* fine wrap logo */
/* inizio wrap CRM */
.crm-wrap {
    height: 350px;
    padding: 25px;
    background-color: #f5f8fa;
}

.image-card {
    height: 300px;
    width: 385px;
    background-color: white;
}

.image-card img {
    height: 100px;
    width: 385px;
    margin-top: 60px;
}

#crm-button {
    background-color: #ff7a59;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin-left: 130px;
    margin-top: 35px;
}

.crm {
    height: 300px;
    width: 700px;
    background-color: white;
    float: right;
    position: relative;
    bottom: 100%;
    color: #33475b;
    padding: 50px 0;
}

h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

#description {
    margin-bottom: 15px;
}

#feat {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.crm ul {
    list-style: none;
}

.crm ul li {
    display: inline;
    margin-right: 15px;
}

/* fine wrap CRM */
/* Cards */

.cards {
    height: 600px;
}

.card {
    background-color: green;
    height: 600px;
    width: 33.3333%;
    color: #33475b;
    text-align: center;
    float: left;
    padding: 30px;
}

#desc {
    margin: 15px 0;
}

.card img {
    height: 150px;
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
    margin: 15px 0;
}

.card ul li {
    margin-bottom: 5px;
}

.cards hr {
    width: 80%;
    margin: 20px auto;
}

#bt-start {
    padding: 12px 24px;
    background-color: #ff7a59;
    border: none;
    border-radius: 5px;
    color: white;
}




/* FINE BLOCCO 2 */







/* DA ELIMINARE */
.container-da-eliminare {
    height: 500px;
    background-color: red;
}
/* DA ELIMINARE */


/* INIZIO BLOCCO 3 */
.container-tab {
    width: 1135px;
    height: 700px;
    background-color: #00abb6;
    color: white;
    text-align: center;
}

.int {
    height: 300px;
    padding-top: 20px;
}

.tab {
    height: 200px;
    display: flex;
    margin-left: 45px;
}

.tab h2 {
    margin: 0;
}

.cards-2 {
    height: 200px;
    width: 23%;
    padding: 30px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.cards-2:nth-child(4n) {
    border-right: 0;
}

.cards-2:nth-child(1) {
    border-left: 0;
}

.second .cards-2 {
    border-bottom: 0;
}

/* FINE BLOCCO 3 */

/* INIZIO BLOCCO 4 */
.container-tre {
    width: 1135px;
    height: 700px;
    background-color: white;
}

.blanc {
    height: 50px;
    background-color: white;
}
.logos-wrapper {
    height: 200px;
    background-color: blue;
}

.text-wrapper {
    height: 200px;
    width: 30%;
    text-align: left;
    color: #33475b;
    padding: 20px;
}

.text-wrapper p {
    font-size: 20px;
}







/* FINE BLOCCO 4 */
/* INIZIO FOOTER */
footer {
    height: 500px;
    width: 1135px;
    background-color: red;
}
/* FINE FOOTER */
